<html>
  <head><%@title = "Book Turn In"%></head>
  <body>
  <h1>Turn Books In</h1>
  <%binding.pry%>

  <%if logged_in? && current_user == @user%>
    <form method="post" action="/users/<%=@users.id%>">
      <input id="hidden" type="hidden" name="_method" value="patch">
		  <%@user.books.each do |book|%>

		    <input type="checkbox" name="book_ids[]" id="<%= book.id%>" value="<%=book.id%>">
        <%if book.title !=nil%>
          <%=book.title%>
        <%end%>
        </input>
        <br></br>
		  <%end%>
      <button type="submit">Turn In </button>
  	</form>
    <%elsif logged_in?%>
    Sorry, you are not logged in to see this account. If you think it is your account, please log out and sign back in.
    <a href="/logout">Logout as <%=@user.name%></a>
    <%else%>
    Sorry, you are not logged in to see this account. Please log in now.
    <a href="/login">Login</a>
  <%end%>
  </body>
</html>
