<html>
  <head><%@title = @book.title%></head>
  <body>
    <%=@message%>
  <h1>Updating <%=@book.title%></h1>

    <form action="/books/<%= @book.id %>" method="post">
  		<input id="hidden" type="hidden" name="_method" value="patch">
  		New Title: <input type="text" name="book[title]" placeholder="<%=@book.title%>">
      <br></br>
      New Author: <input type="text" name="book[author]" placeholder="<%=@book.author.name%>">
      <br></br>
      <label>Or choose an existing author:</label>
      <%array_1 = Author.all - Array(@book.author)%>     
      <br></br>
      <%array_1.each do |author|%>
          <input type="radio" name="book[author_id]" id="<%= author.id%>" value="<%=author.id%>">
            <%=author.name%>
          </input>
        <br></br>
      <%end%>

      New Genre: <input type="text" name="book[genre]" placeholder="<%=@book.genre.name%>">

      <br></br>

      <label>Or choose an existing genre:</label>

      <br></br>
      <%array_2 = Genre.all - Array(@book.genre)%>
      <%array_2.each do |genre|%>
        <input type="radio" name="book[genre_id]"  value="<%=genre.id%>"><%=genre.name%></input>
      <br></br>
      <%end%>

  		 <!-- id is used for Capybara, value is what is sent through as data, name is what it's named in params-->

      <button type="submit" value="Update Book">Update Book </button>
  	</form>

    If this book no longer is part of the library's collection, you can delete it from the database below:
    <br></br>
    <a href="/books/<%@book.id%>">Delete Book</a>
  </body>
</html>
