<%@title = @book.title%>
<br>
Title: <%=@book.title%>
<br>
Author: <%if @book.author.name !=nil%>
        <%=@book.author.name%>
        <%else%>
          N/A
        <%end%>
<br>
Genre: <%if @book.genre.name !=nil%>
        <%=@book.genre.name%>
      <%else%>
        N/A
      <%end%>
<br></br>
<% if logged_in?%>
  <a href="/books/<%=@book.id%>/edit">Update Book Information</a>
  <br></br>
  <%if current_user.books.include?(@book)%>
    <a href="/books/<%=@book.id%>/delete">Return Book</a>
  <%else%>
    <a href="/books/<%=@book.id%>/add">Check Book Out</a>
  <%end%>
<%end%>

<%=@message%>
  <br>
<%if @message != nil%>
  <a href="/login">Login</a>
<%end%>
